
        <img class="bg-transparent z-10 w-full flex-1 flex group-hover:flex-grow-[1.7] h-full" src="{{project.photo}}" alt="my image">
        <div  class="z-20 absolute bottom-0 group-hover:z-0  group-hover:opacity-0 right-0 w-full text-center text-gray-100 bg-gray-900">
          <p class="font-medium text-base capitalize">{{project.name}}</p>
          <p class="text-sm text-blue-400">Click to view</p>
        </div>
        <div class="bg-gray-950 opacity-60 group-hover:z-20 w-full h-full absolute bottom-0  text-gray-100 text-center px-3 py-2">
          <p class="text-base lg:text-xs font-black mb-4 py-3">{{project.name}}</p>
          <p class="py-2 mb-3 md:py-0">{{project.description}}</p>
          <p><a href="{{ project.url}}" class="px-2 py-1 bg-gray-200 text-gray-950 uppercase text-xs rounded hover:bg-slate-900 hover:text-gray-100">View on Github >></a></p>
        </div>
 



      

